body {
  font-family: sans-serif;
  padding: 1rem;
}

#repos-container {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;
  margin: auto;
  padding: 10px;
  border-radius: 12px;
  background-color: #001119;
}

.repository {
  font-size: 18px;
  margin: 1rem;
  padding: 10px;
  border-top: 4px solid #11967e;
  border-radius: 8px;
  background-color: #00557f;
}
