@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #332f28;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B18771;
    text-align: center;
    text-shadow: 1px 2px 0 #664f42;
}

body {
    background-image: linear-gradient(90deg,#524B41,#63554C);
}
